<div class="container">
  <%- include('./forms/form-professores') %>
  <div id="alertErroProfessores" class="alert alert-danger alert-erro" role="alert">
    <div class="textoErro">
      Erro! Verifique se o campo de busca contém o nome do(a) professor(a).
    </div>
    <div class="iconFechar">
      <svg id="fecharAlertErroProfessores" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
  </div>
  <div id="alertWarningProfessores" class="alert alert-warning alert-aviso" role="alert">
    <div class="alertWarning">
      Não há professores cadastradas de acordo com a busca fornecida.
    </div>
    <div class="iconFechar">
      <svg id="fecharAlertWarningProfessores" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
  </div>
  <div class="buscar">
    <form id="formProfessoresBuscar" class="form-buscar" action="/admin/professores/1/buscar">
      <input id="inputBuscarProfessor" class="input-buscar" type="text" name="professor">
      <button class="btn btn-light" type="submit">Buscar</button>
    </form>
    <button class="btn-new" id="btnNovoProfessor" type="button" data-toggle="modal" data-target="#criarProfessor" data-whatever="@mdo" data-toggle="tooltip" data-placement="right" title="Novo Professor">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    </button>
  </div>
  <div id="conteudoProfessores">
    <table class="table-responsive">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="dadosProfessores"></tbody>
    </table>
  </div>
  <div class="modal fade" id="professorEditar" tabindex="-1" aria-labelledby="professoresEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="professorEditarLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="formProfessorEditar" action="" method="POST">
            <div class="form-group">
              <label for="nome" class="col-form-label">Nome</label>
              <input type="text" class="form-control input-professor-editar" id="nome" name="nome">
            </div>
            <div class="form-group">
              <label for="sobrenome" class="col-form-label">Sobrenome</label>
              <input type="text" class="form-control input-professor-editar" id="sobrenome" name="sobrenome">
            </div>
            
            <div class="form-group">
              <label for="telefone" class="col-form-label">Telefone</label>
              <input type="text" class="form-control input-professor-editar" id="telefone" name="telefone">
            </div>
            <div class="form-group">
              <label for="usuarioId" class="col-form-label">Usuario Id</label>
              <input type="text" class="form-control input-professor-editar" id="usuarioId" name="usuarioId">
            </div>
            <div id="btn-modal">
              <button id="btnProfessorEditar" type="submit" class="btn btn-success" >
                Enviar
                <!-- <span class="sr-only">Loading...</span> -->
              </button>
            </div>    
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>

