<div class="container">
  <table class="table-responsive table-hover" id="tarefas">
    <thead>
      <tr>
        <th>Data</th>
        <th>Descrição</th>
        <th>Marcar como concluida</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="data">16/01/2021</td>
        <td class="descricao">Cadastrar turmas</td>
        <td class="center">
          <input type="checkbox">
        </td>
      </tr>
      <tr>
        <td class="data">16/01/2021</td>
        <td class="descricao">Cadastrar disciplinas</td>
        <td class="center">
          <input type="checkbox">
        </td>
      </tr>
    </tbody>
  </table>
</div>

