<div class="container">
  <%- include('./forms/form-turmas') %>
  <div class="buscar">
    <form class="form-buscar" action="/admin/turmas/1/buscar">
      <input class="input-buscar" type="text" name="nome">
      <button class="btn btn-light" type="submit">Buscar</button>
    </form>
    <button class="btn-new" id="btnNovaTurma" type="button" data-toggle="modal" data-target="#criarTurma" data-whatever="@mdo" title="Nova Turma">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    </button>
  </div>
  <div id="conteudoTurmas" >
    <table class="table-responsive">
      <thead>
        <tr>
          <th>Série</th>
          <th>Nível</th>
          <th>Turno</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="dadosTurmas"></tbody>
    </table>    
  </div>
  <div class="modal fade" id="turmaEditar" tabindex="-1" aria-labelledby="turmaEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="turmaEditarLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="formTurmaEditar" action="" method="POST">
            <div class="form-group">
              <label for="serie" class="col-form-label">Série</label>
              <input type="text" class="form-control input-turma-editar" id="serie" name="serie">
            </div>
            <div class="form-group">
              <label for="nivel" class="col-form-label">Nível</label>
              <input type="text" class="form-control input-turma-editar" id="nivel" name="nivel">
            </div>
            <div class="form-group">
              <label for="turno" class="col-form-label">Turno</label>
              <input type="text" class="form-control input-turma-editar" id="turno" name="turno">
            </div>
            <div id="btn-modal">
              <button id="btnTurmaEditar" type="submit" class="btn btn-success" >Enviar</button>
            </div>    
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>