<div class="container">
  <%- include('./forms/form-turmas') %>
  <div class="buscar">
    <form class="form-buscar" action="/admin/turmas/1/buscar">
      <input class="input-buscar" type="text" name="nome">
      <button class="btn btn-light" type="submit">Buscar</button>
    </form>
    <button class="btn-new" id="btnNovaTurma" type="button" data-toggle="modal" data-target="#criarTurma" data-whatever="@mdo" title="Nova Turma">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    </button>
  </div>
  <div id="conteudoTurmas" style="display: flex;">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Id</th>
          <th>Série</th>
          <th>Nível</th>
          <th>Turno</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="dadosTurmas"></tbody>
    </table>    
  </div>
</div>