<form action="#">
  <label for="nome">Nome</label>
  <input type="text" name="nome">
  <label for="descricao">Descrição</label>
  <button type="submit">Salvar</button>
  <a href="#">Voltar</a>
</form>