<form action="#">
  <label for="serie">Série</label>
  <input type="text" name="serie">
  <label for="nivel">Nível</label>
  <input type="text" name="nivel">
  <label for="turno">Turno</label>
  <input type="text" name="turno">
  <button type="submit">Salvar</button>
  <a href="#">Voltar</a>
</form>