<!DOCTYPE html>
<html>
  <head>
    <title>Calendário Escolar</title>
    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel="stylesheet" href="../public/css/calendarioEscolar.css">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div>
        <div class="logo">
          <img src="../public/images/rocket.png" alt="">
          <span class="nome-escola">Rocket School</span>
        </div>
        <ul class="header-menu">
          <li>&equiv;</li>
          <li><a href="index.ejs">Home</a></li>
          <li><a href="quemSomos.ejs">Quem Somos</a></li>
          <li><a href="#">Calendário Escolar</a></li>
          <li><a href="login.ejs">Login</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="calendario-bg">
        <span>Calendário Escolar</span> 
      </div>
      <div class="mes">
        <h1>Setembro 2020</h1>
      </div>

      <section>
        <div class="calendario">
          <div class="dia-semana">
            29
          </div>
          <p class="descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et iste pariatur aspernatur, dolorum at in, perferendis adipisci error animi expedita consectetur sunt omnis fuga aut possimus. Repudiandae dolore quia quidem.
          </p>
        </div>
        <div class="calendario">
          <div class="dia-semana">
            29
          </div>
          <p class="descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et iste pariatur aspernatur, dolorum at in, perferendis adipisci error animi expedita consectetur sunt omnis fuga aut possimus. Repudiandae dolore quia quidem.
          </p>
          <p class="descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et iste pariatur aspernatur, dolorum at in, perferendis adipisci error animi expedita consectetur sunt omnis fuga aut possimus. Repudiandae dolore quia quidem.
          </p>
        </div>
        <div class="calendario">
          <div class="dia-semana">
            29
          </div>
          <p class="descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et iste pariatur aspernatur, dolorum at in, perferendis adipisci error animi expedita consectetur sunt omnis fuga aut possimus. Repudiandae dolore quia quidem.
          </p>
        </div>
        <div class="calendario">
          <div class="dia-semana">
            29
          </div>
          <p class="descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et iste pariatur aspernatur, dolorum at in, perferendis adipisci error animi expedita consectetur sunt omnis fuga aut possimus. Repudiandae dolore quia quidem.
          </p>
        </div>
        <div class="calendario">
          <div class="dia-semana">
            29
          </div>
          <p class="descricao">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et iste pariatur aspernatur, dolorum at in, perferendis adipisci error animi expedita consectetur sunt omnis fuga aut possimus. Repudiandae dolore quia quidem.
          </p>
        </div>
      </section>
        
    </main>

    <footer>
      <div class="footer">
        copyright &copy Rocket School
      </div>
    </footer>

  </body>
</html>
