<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Professor</title>
    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel="stylesheet" href="../public/css/homeProfessor.css">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
          <div class="logo">
            <img src="../public/images/rocket.png" alt="">
            <span class="nome-escola">Rocket School</span>
          </div>
          <ul class="header-menu">
            <li>&equiv;</li>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="canlendarioEscolar.ejs">Calendário Escolar</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </header>

    <main>
        <div class="professor-bg"></div>
        
        <div class="painel">
            <div class="card">
                <img src="../public/images/img_avatar.png" alt="Avatar" style="width:100%">
                <div class="container">
                <h4><b>Marcos</b></h4> 
                <p>matemática</p> 
                </div>
            </div>
            <div class="gerenciamento">
                <section class="secao notificacao">
                    <div>
                        <h3><em>Notificações:</em></h3>
                    </div>
                    <div>
                        <p>Mussum Ipsum, cacilds vidis litro abertis.
                             Mais vale um bebadis conhecidiss, 
                             Copo furadis é disculpa de bebadis, arcu quam euismod magna</p>
                    </div>
                </section>

                <section class="secao aulas">
                    
                    <div class="aulas-titulo">                     
                        <div class="aulas-img"></div>
                        <div class="aulas-titulo-secao">
                            <h2>Aulas</h2>
                        </div>
                    </div>

                    <div class="aulas-??">                     
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="secao aulas">
                    
                    <div class="aulas-titulo">                     
                        <div class="aulas-img"></div>
                        <div class="aulas-titulo-secao">
                            <h2>Aulas</h2>
                        </div>
                    </div>

                    <div class="aulas-??">                     
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="secao aulas">
                    
                    <div class="aulas-titulo">                     
                        <div class="aulas-img"></div>
                        <div class="aulas-titulo-secao">
                            <h2>Aulas</h2>
                        </div>
                    </div>

                    <div class="aulas-??">                     
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                        <div class="aulas-secao-selecionar">
                            <span>Lorem</span>
                        </div>
                    </div>
                </section>
        </div>


    </main>
    <footer>
        <div class="footer">
          copyright &copy Rocket School
          

        </div>
    </footer>
</body>
</html>