<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='./css/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <header>
      <div>
        <div class="logo">
          <img src="./images/rocket.png" alt="">
          <span class="nome-escola">Rocket School</span>
        </div>
        <ul class="header-menu">
          <li>&equiv;</li>
          <li><a href="#">Home</a></li>
          <li><a href="quemSomos">Quem Somos</a></li>
          <li><a href="canlendarioEscolar">Calendário Escolar</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
    </header>

    <main>
      <div class="banner">
        <img src="./images/criancas.jpg" alt=""> 
        <div class="texto1">
          <h1>Seja Bem Vindo!</h1>
          <p>Aqui, nós voamos alto!</p>
        </div>      
      </div> 

      <div class="imagem-prof">
        <div class="professor">
          <h1>Lorem ipsum</h1>
          <div class="paragrafo-prof">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam quae cumque veniam facilis impedit debitis temporibus magni cum consequuntur odit, delectus ut corrupti voluptates fugiat, porro velit? Distinctio, sed.
            </p>
          </div>
        </div>
        <img class="" src="./images/professor.jpg" alt="">
      </div>
      
      <div class="imagem-aluno">
        <img class="professor" src="./images/aluno.jpg" alt="">
        <div class="aluno">
          <h1>Lorem ipsum</h1>
          <div class="paragrafo-aluno">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam quae cumque veniam facilis impedit debitis temporibus magni cum consequuntur odit, delectus ut corrupti voluptates fugiat, porro velit? Distinctio, sed.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        copyright &copy Rocket School
      </div>
    </footer>

  </body>
</html>
