<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='../public/css/style.css' />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet">  -->
  </head>
  <body>
    <header>
      <div>
        <div class="logo">
          <img src="../public/images/rocket.png" alt="">
          <span>Rocket School</span>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Calendário Escolar</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
