<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='./css/style.css' />
    <link rel='stylesheet' href='./css/login.css' />
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <header>
      <div>
        <div class="logo">
          <img src="./images/rocket.png" alt="">
          <span class="nome-escola">Rocket School</span>
        </div>
        <ul class="header-menu">
          <li>&equiv;</li>
          <li><a href="/">Home</a></li>
          <li><a href="quemSomos">Quem Somos</a></li>
          <li><a href="calendarioEscolar">Calendário Escolar</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </header>
    
    <main>

      <div class="imagem">
          <img src="./images/login-1.png" alt="">
      </div>

      <div class="formulario">
        <form action="/login" method="POST">
          <h1>Acesso ao sistema</h1>
          <label for="matricula">E-mail</label>
          <br><br>
          <input type="text" name="email" required>
          <br><br>
          <label for="senha">Senha</label>
          <br><br>
          <input type="password" name="senha" required>
          <br><br>
          <button>Entrar</button>
        </form>
      </div> 

    </main>

    <footer>
      <div class="footer">
        copyright &copy Rocket School
      </div>
    </footer>

  </body>
</html>
