<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel='stylesheet' href='../public/css/login.css' />
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <header>
      <div>
        <div class="logo">
          <img src="../public/images/rocket.png" alt="">
          <span class="nome-escola">Rocket School</span>
        </div>
        <ul class="header-menu">
          <li>&equiv;</li>
          <li><a href="index.ejs">Home</a></li>
          <li><a href="quemSomos.ejs">Quem Somos</a></li>
          <li><a href="canlendarioEscolar.ejs">Calendário Escolar</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </header>
    
    <main class="painel-login">
        <div class="conteudo-img">
           
        </div>

        <div class="conteudo-login">
          
            <div class="form-login">  
              <form>
                <h1>Rockt School</h1>
                <span>Aqui, nós voamos alto!</span><br>
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password">
                
                <div class="form-submeter">

                  <a href="#">É novo por aqui?</a>
                  <button type="submit">Entrar</button>
                  
                </div>          
              </form>
            </div>

        </div>
        

    </main>

    <footer>
      <div class="footer">
        copyright &copy Rocket School
      </div>
    </footer>

  </body>
</html>
