<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel='stylesheet' href='../public/css/login.css' />
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <header>
      <div>
        <div class="logo">
          <img src="../public/images/rocket.png" alt="">
          <span class="nome-escola">Rocket School</span>
        </div>
        <ul class="header-menu">
          <li>&equiv;</li>
          <li><a href="index.ejs">Home</a></li>
          <li><a href="quemSomos.ejs">Quem Somos</a></li>
          <li><a href="canlendarioEscolar.ejs">Calendário Escolar</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </header>
    
    <main>
      <div class="imagem-login">
        <img src="../public/images/login-editado.png" alt="">
      </div>

      <div class="formulario">
        <form action="">
          <h1>Acesso ao sistema</h1>
          <label for="matricula">Matrícula</label>
          <br><br>
          <input type="text" name="matricula">
          <br><br>
          <label for="senha">Senha</label>
          <br><br>
          <input type="password" name="senha">
          <br><br>
          <button>Entrar</button>
          
        </form>
      </div> 

    </main>

    <footer>
      <div class="footer">
        copyright &copy Rocket School
      </div>
    </footer>

  </body>
</html>
