<!DOCTYPE html>
<html>
  <head>
    <title>Professor - Horários</title>
    <link rel='stylesheet' href='../public/css/professor.css' />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet">  -->
  </head>
  <body>

    <header>
      <div class = "menu">
        <ul>
          <li><a href="#">Olá, $Professor$</a></li>
          <li><a href="#"><b>MEU PERFIL</b></a></li>
          <li><a href="#">DISCIPLINAS</a></li>
          <li><a href="#">HORÁRIO</a></li>
        </ul>
      </div>

      <div class="logo">
        <img src="../public/images/rocket.png" alt="">
        <span class="nome-escola">Rocket School</span>
      </div> 
    </header>
   

    <div class = "principal">
      
      <div class = "quadro" style="width: 90%">  
        <table class = "bloco2">
            <tr class="titulo">
              <td colspan="6">HORÁRIO SEMANAL</td>
            </tr>
            <tr class="titulo">
              <td></td>
              <td>SEGUNDA</td>
              <td>TERÇA</td>
              <td>QUARTA</td>
              <td>QUINTA</td>  
              <td>SEXTA</td>            
            </tr>
            <tr>
              <td>8h - 9h</td>
              <td style="background-color: blue;">DC-01 A1</td> <!-- Deixar a cor como uma variável tb -->
              <td style="background-color: green;">DC-02 C</td>
              <td></td>
              <td></td>  
              <td></td>            
            </tr>
            <tr>
              <td>9h - 10h</td>
              <td style="background-color: red;">DC-01 B1</td>
              <td style="background-color: green;">DC-02 C</td>
              <td></td>
              <td></td>  
              <td></td>            
            </tr>
            <tr>
              <td>10h30 - 11h30</td>
              <td></td>
              <td></td>
              <td style="background-color: blue;">DC-01 A1</td>
              <td style="background-color: green;">DC-02 C</td>  
              <td></td>            
            </tr>
            <tr>
              <td>11h30 - 12h30</td>
              <td></td>
              <td></td> 
              <td style="background-color: red;">DC-01 b1</td>
              <td style="background-color: green;">DC-02 C</td>  
              <td></td>            
            </tr>
          </table>
      </div>

      <div class = "quadro" style="width: 90%">  
        <table class = "bloco" style="padding-left: 20px;">
            <tr>
              <td style="width: 15%;">DC-01 A1</td>
              <td style="width: 80%;">DISCIPLINA 01 - TURMA A1</td>          
            </tr>
            <tr>
              <td>DC-01 B1</td>
              <td>DISCIPLINA 01 - TURMA B1</td>          
            </tr>
            <tr>
              <td>DC-02 C</td>
              <td>DISCIPLINA 02 - TURMA C</td>          
            </tr>
          </table>
      </div>
    </div>

  </body>
</html>
