<!DOCTYPE html>
<html>
  <head>
    <title>Professor - Meu Perfil</title>
    <link rel='stylesheet' href='../public/css/professor.css' />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet">  -->
  </head>
  <body>

    <header>
      <div class = "menu">
        <ul>
          <li><a href="#">Olá, $Professor$</a></li>
          <li><a href="#"><b>MEU PERFIL</b></a></li>
          <li><a href="#">DISCIPLINAS</a></li>
          <li><a href="#">HORÁRIO</a></li>
        </ul>
      </div>

      <div class="logo">
        <img src="../public/images/rocket.png" alt="">
        <span class="nome-escola">Rocket School</span>
    </div>
      
    </header>

    

    <div class = "principal">
      <img src="../public/images/professor.jpg" alt="">
      
      <div class = "quadro" style="width: 50%;">
        
          <table class = "bloco">
            <tr class="titulo">
              <td colspan="4">DADOS PESSOAIS</td>
            </tr>
            <tr>
              <td>Nome:</td>
              <td>$NomeCompleto$</td>
              <td>CPF:</td>
              <td>$XXX.XXX.XXX-XX$</td>
              
            </tr>
            <tr>
              <td>E-mail:</td>
              <td>$professor@email.com$</td>
              <td>Telefone:</td>
              <td>$(XX) XXXX-XXXX$</td>
            </tr>
            <tr>
              <td>Endereço:</td>
              <td>$Rua Bla, São Paulo/SP$</td>
              <td>Celular:</td>
              <td>$(XX) XXXX-XXXX$</td>
            </tr>
          </table>

          <table class = "bloco">
            <tr class="titulo">
              <td colspan="4">DADOS PROFISSIONAIS</td>
            </tr>
            <tr>
              <td style="width: 30%;">Início das Atividades:</td>
              <td style="width: 70%;">$XX/XX/XXXX$</td>
            </tr>
            <tr>
              <td>Série:</td>
              <td>$1º ao 3º ano$</td>
            </tr>
            <tr>
              <td>Categoria:</td>
              <td>$Geografia$</td>
            </tr>
          </table>

      </div>



    </div>


  </body>
</html>
