<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link rel='stylesheet' href='../public/css/style.css' />
    <link rel="stylesheet" href="../public/css/quemSomos.css">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
          <div class="logo">
            <img src="../public/images/rocket.png" alt="">
            <span class="nome-escola">Rocket School</span>
          </div>
          <ul class="header-menu">
            <li>&equiv;</li>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="canlendarioEscolar.ejs">Calendário Escolar</a></li>
            <li><a href="login.ejs">Login</a></li>
          </ul>
        </div>
      </header>
    <main>
        <!-- <div class="quemSomos-bg">
            <span> Quem somos </span> 
        </div> -->
        <div class="conteudo">
            <div class="conteudo-texto"> 
                <h1>lorem ipsum</h1>  
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id officiis esse perferendis sint beatae, repudiandae maiores debitis animi laudantium laborum odit nulla numquam totam laboriosam temporibus. Tenetur iste vel voluptate?</p>

            </div>
            <div class="conteudo-img">
                <img src="../public/images/aluna-formada.jpg" alt="">
            </div>
        </div>
        <div class="conteudo2">
            <div class="conteudo-texto">  
                <h1>lorem ipsum</h1>  
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id officiis esse perferendis sint beatae, repudiandae maiores debitis animi laudantium laborum odit nulla numquam totam laboriosam temporibus. Tenetur iste vel voluptate?</p>

            </div>
            <div class="conteudo2-img">
                <img src="../public/images/pais-alunos.jpg" alt="">
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
          copyright &copy Rocket School
          
      
        </div>
    </footer>
</body>
</html>