a {
  color: #2f353b;
  font-weight: bold;
}

a:link {
  color: gray;
}

.tab-pane {
  margin-top: 10px;
}

/* TABELA DE TAREFAS */
#tarefas {
  width: 100%;
  border-spacing: 0 1.2rem;
  color: #2d375f;
}

table thead th:first-child, 
table tbody td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table th {
  background: #fff;
  font-weight: normal;

  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: rgb(200, 200, 252);
  padding: 1rem 2rem;
}

td.descricao {
  color: #2f353b;
}