button:focus {
  outline: none;
}

a {
  color: gray;
  font-weight: bold;
}

a:link {
  color: #2f353b
}

a:hover {
  color: #2f353b;
}

.tab-pane {
  margin-top: 10px;
}

/* buscar */

.buscar {
  display: flex;
  justify-content: space-between;
}

/* TABELA DE TAREFAS */
table {
  margin-right: 30px;
  border-collapse: initial;
  border-spacing: 0 0.5rem;
}

table th {
  color: gray;
  background-color:  rgb(233, 233, 233);
  font-weight: bold;
  padding: 0.8rem 1rem;
  text-align: left;
}

table tbody tr {
  background-color: #f3f3f3;
  color: #8d9aa7;
}

table tbody tr:hover {
  background-color: rgb(241, 241, 241);
  color: #687079;
}

table td {
  padding: 0.5rem 1rem;
}

.table-responsive {
  width: max-content;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div-btn {
  text-align: right;
}

/* formulário */
.input-buscar {
  width: min(50vw,600px);
}

/* botões */
.botao {
  color: #fff;
  opacity: 0.7;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
}

.botao:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

.botao-detalhes {
  background-color: rgb(192, 192, 192);
}

.botao-editar {
  background-color: rgb(26, 85, 109);
}

.botao-exluir {
  background-color: rgb(255, 116, 116);
}

.botao-enviar {
  background-color: rgb(66, 180, 66);
}

.btn-new {
  border: none;
  background-color: #fff;
  opacity: 0.7;
  color: rgb(66, 180, 66);
  outline: none;
}

.btn-new:hover {
  opacity: 1;
}

#btn-modal {
  text-align: right;
}

#form-turma label, input {
  margin: 10px 0;
  display: block;
}

.form-buscar {
  display: flex;
  align-items: center;
}

.form-buscar button {
  margin-left: 10px;
}