.container {
  overflow-x: auto;
}

#main {
  min-height: 80vh;
}

button:focus {
  outline: none;
}

a {
  color: rgb(165, 165, 165) ;
  font-weight: bold;
}

a:hover {
  color: #4b535c;
  text-decoration: none;
}

.tab-pane {
  margin-top: 10px;
}

/* buscar */

.buscar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TABELA DE TAREFAS */
table {
  margin-right: 30px;
  border-collapse: initial;
  border-spacing: 0 0.5rem;
}

table th {
  color:  rgb(111, 122, 126);
  background-color:  rgb(233, 233, 233);
  font-weight: bold;
  padding: 0.8rem 1rem;
  text-align: left;
  font-weight: 500;
}

table tbody tr {
  background-color: #f3f3f3;
  color: #8d9aa7;
}

table tbody tr:hover {
  background-color: rgb(241, 241, 241);
  color: #687079;
}

table td {
  padding: 0.5rem 1rem;
}

.table-responsive {
  width: max-content;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:hover {
  cursor: pointer;
}

#div-btn {
  text-align: right;
}

/* formulário */
.input-buscar {
  width: min(60vw,345px);
}

#alertErro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(247, 70, 70);
  display: none;
}

#alertErroProfessores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(247, 70, 70);
  display: none;
}

#alertErroDisciplinas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(247, 70, 70);
  display: none;
}

.iconFechar {
  cursor: pointer;
}

#alertWarning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 96, 38);
  display: none;
}

#alertWarningDisciplinas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 96, 38);
  display: none;
}

#alertWarningProfessores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 96, 38);
  display: none;
}

div.checkbox-area {
  display: flex;
  align-items: baseline;
  margin-right: 10px;
}

div.checkbox-area input {
  margin-right: 5px;
}

/* botões */
.botao {
  color: #fff;
  opacity: 0.7;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  text-decoration: none;
}

a.botao:hover {
  opacity: 1;
  color: #fff;
}

button.botao:hover {
  opacity: 1;
  color: #fff;
}

.botao-detalhes {
  background-color: #8c96a0;
}

.botao-editar {
  background-color: #007bff;;
}

.botao-excluir {
  background-color: #dc3545;
}

.botao-enviar {
  background-color: rgb(66, 180, 66);
}

.btn-new {
  border: none;
  background-color: #fff;
  opacity: 0.7;
  color: rgb(66, 180, 66);
  outline: none;
}

.btn-new:hover {
  opacity: 1;
}

.ativo:hover {
  opacity: 1;
}

#btn-modal {
  text-align: right;
}

/* formulários */

select.form-control {
  width: initial;
  padding: initial;
  margin-right: 10px;
}

#form-turma label, input {
  margin: 10px 0;
  /* display: block; */
}

#form-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

div.form-group {
  align-self: center;
}

.form-buscar button {
  margin-left: 10px;
}

#tarefas {
  margin-bottom: 10px;
}

.rodape {
  opacity: 0.5;
  color: #8d9aa7;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}