body {
    background-color: #f3f4f7;
}

main div.calendario-bg {
    background-image: url('../images/calendar_cover.jpg');
    background-size: cover;
    width: 100%;
    height: 320px;
}

main div span {
    margin-top: 240px;
    font-size: 3rem;
    margin-left: 100px;
    font-weight: bold;
}

main div.mes {
    padding: 50px;
    text-align: center;
}

main div.mes h1 {
    color: rgb(56, 56, 56);
}

.mes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mes a {
    color: rgb(56, 56, 56);
    border-radius: 50%;
    padding: 0 3px;
}

.mes a:hover {
    background-color: orangered;
    color: #fff;
}

/* estilização da area do calendário */

section {
    padding: 20px 0;
}

div.calendario {
    padding: 20px;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto 20px;
    border-bottom: 1px solid rgb(199, 198, 198);
    background-color: white;
}

div.dia-semana {
    background-color: rgb(247, 67, 1);
    color: white;
    padding: 10px 10px 7px;
    width: max-content;
    border-radius: 50%;
    font-weight: bold;
    margin-bottom: 10px;
}

section p.descricao {
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2em;
    color: rgb(56, 56, 56);
}

@media (max-width: 660px) {
    div.calendario-bg {
        display: flex;
        justify-content: center;
    }

    div.calendario-bg span {
        margin-left: 0;
        font-size: 2.5rem;
    }
}
