main {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
}

div.imagem-login img {
    width: 100%;
    min-height: 100%;
}

div.imagem-login {
    width: 45%;
}

div.formulario {
    margin: 0 auto;
    align-self: center;
    color: rgb(56, 56, 56);
}

.formulario h1 {
    font-size: 3rem;
}

label{
    font-size: 18px;
}
input {
    width: 96%;
}


#checkbox {
    width: 40px;
    
}

span {
    color: rgb(56, 56, 56);
    margin-top: 2px;
    margin-left: 0;
    font-size: 1.1rem;
}

button {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 20px;

    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(250, 94, 3);
}

button:hover {
    background-color: rgb(235, 63, 0);;
}