main {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

}

.imagem {
    width: 600px;
    height: 92vh;
}

.imagem img {
    width: 80%;
    height: 100%;
}

div.formulario {
    align-self: center;
    color: rgb(56, 56, 56);
    margin: 0 auto;
}

.formulario h1 {
    font-size: 3rem;
}

label{
    font-size: 18px;
}
input {
    width: 100%;
}

span {
    color: rgb(56, 56, 56);
    margin-top: 2px;
    margin-left: 0;
    font-size: 1.1rem;
}

.formulariro div {
    width: 100%;
    text-align: justify;
}

.login {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 20px;

    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(250, 94, 3);
}

button:hover {
    background-color: rgb(235, 63, 0);;
}

footer {
    width: 100%;
    bottom: 0;
}