main {
    display: flex;
    flex-direction: row-reverse;

    padding-right: 10%;
    height: 94vh;
    background-image: url('../images/login-editado.png');
    background-size: 555px;
    background-repeat: no-repeat;
}

div.formulario {
    align-self: center;
    color: rgb(56, 56, 56);
}

.formulario h1 {
    font-size: 3rem;
}

label{
    font-size: 18px;
}
input {
    width: 96%;
}

span {
    color: rgb(56, 56, 56);
    margin-top: 2px;
    margin-left: 0;
    font-size: 1.1rem;
}

button {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 20px;

    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(250, 94, 3);
}

button:hover {
    background-color: rgb(235, 63, 0);;
}