.page-header {
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

button {
  margin: 0 5px 10px 0;
}

div.row {
  margin-top: 20px;
}

div.row-justificada {
  justify-content: space-evenly;
}

tbody td > input {
  width: 60px;
}