.page-header {
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

button {
  margin: 0 5px 10px 0;
}

div.row {
  margin-top: 20px;
}

div.row-justificada {
  justify-content: space-evenly;
}

tbody td > input {
  width: 60px;
}

.headerSecondario {
  display: flex;
  justify-content: space-between;
}

.headerSecondario a {
  color:  rgb(150, 150, 150);
  text-decoration: none;
}

.headerSecondario a:hover {
  color:  rgb(56, 56, 56);
}

.botoesCard {
  display: flex;
  justify-content: end;
}

.botoesCard a {
  margin: 0 5px;
  color:  rgb(150, 150, 150);
}

.botoesCard a:hover {
  color:  rgb(56, 56, 56);
}