body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

/* estilização da barra de menu */
header {
  width: 100%;
  height: 60px;
  background-color: #24292e;
  background-size: cover;

  /* position: fixed; */
}

header div {
  margin-right: 30px;
  font-size: 18px;
}

header div {
  display: inline;
}

header img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 20px;
}

span {
  position: absolute;
  color:  rgba(255, 255, 255, 0.973);
  font-size: 20px;
  margin-left: 10px;
  margin-top: 18px;
}

ul {
  display: flex;
  float: right;
  margin-right: 20px;
}

header li {
  list-style: none;
  margin-left: 15px;
}

header a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.973)
}

header a:visited {
  color: rgba(255, 255, 255, 0.973)
}

header a:hover {
  color: rgb(158, 157, 157);
}

/* estilização do banner */

main div {
  display: flex;
  padding: 20px 0 ;
}

.banner img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}